html
	head
		title= title
		link(rel="stylesheet", href="style/main.css")
		link(rel="stylesheet", href="bower/materialize/dist/css/materialize.min.css")
	body
		include components/nav.html
		center
			div(class='container ')
				div(class='row')
					div(class='col s4 m4 l4 card')
						h3= 'Programa de Cesta Básica'
					div(class='col s4 m4 l4 card')
						h3= 'Programa de Cesta Básica'
					div(class='col s4 m4 l4 card')
						h3= 'Programa de Cesta Básica'
