html
	head
		title= "Cadastro de Pessoa"
		link(rel="stylesheet", href="bower/materialize/dist/css/materialize.min.css")
		link(rel="stylesheet", href="style/main.css")
	body
		center
			h1= "Nova Pessoa"